<h1>Commitments</h1>

<div class="upcoming-table">
  <h4>Upcoming Tasks</h4>
  <%= render partial: "task_table", locals: {tasks: @upcoming_tasks} %>
</div>

<h4>Pending Tasks</h4>
<%= render partial: "task_table", locals: {tasks: @pending_tasks} %>

<h4>Completed Tasks</h4>
<%= render partial: "task_table", locals: {tasks: @completed_tasks} %>
