<h1 class="dashboard-welcome"><%= @company_name %></h1>


<% @jobs.each do |job| %>
  <div class="row dashboard-sections">
    <div class="row">
      <div class="col s12 m12 l12">
        Job Title
      </div>
      <div class="col s12 m12 l12", id="job-title-link">
        <%= link_to "#{job.title.capitalize}", job_edit_path(job.id) %>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        Job Description
      </div>
      <div class="col s12 m12 l12">
        <%= job.description %>
      </div>
    </div>
  </div>
<% end %>
