<h1>Welcome to your Favorite Jobs!</h1>
<!-- <h4>Total Hours: <%#= @cart.total_hours %></h4> -->

<% unless @favorites.contents.empty? %>
  <%= render partial: "full_favorites" %>
<% else %>
  <h4>No Favorites!</h4>
<% end %>
