<h1>Welcome <%= @current_user.first_name %></h1>

<div class="dashboard">
  <h5>Email: <%= @current_user.email %></h5>
  <h5>Current Resume: </h5>
  <%= button_to "My Favorites", users_job_path(@current_user), method: :get, class:"slider-btn waves-effect waves-light btn"%>
   <h5> Jobs Applied To Link</h5>

</div>
