<h1>Welcome <%= @user.first_name %></h1>

<div class="dashboard">
  <h4>Email: <%= @user.email %></h4>
  <h4>Current Resume: </h4>

   <h3> Favorite Jobs Link</h3>
   <%= link_to "Jobs I've Applied To", my_jobs_path(@user), class: "slider-btn waves-effect waves-light btn teal lighten-3" %>
</div>
