<h1>Welcome <%= @current_user.first_name %></h1>

<div class="dashboard">
  <h4>Email: <%= @current_user.email %></h4>
  <h4>Current Resume: </h4>

   <h3> Favorite Jobs Link</h3>
   <h3> Jobs Applied To Link</h3>

</div>
