<h1>Welcome to your Store, <%= @current_user.first_name %></h1>

<div class="dashboard">

  <h4>Email: <%= @current_user.email %></h4>
    <h6>Company name </h6>
    <h6>Create a job </h6>
     <h6>See all jobs </h6>
     <h6>Search for job </h6>
     <h6>See all applicants</h6>
     <h6>much more data </h6>
   <h3> Favorite Jobs Link</h3>
   <h3> Jobs Applied To Link</h3>

</div>
