<% if favorites.has_job?(job.id) %>
  <%= link_to "UNFAVORITE", favorite_path(job.id), method: :delete, class:"slider-btn waves-effect waves-light btn teal lighten-3"%>
<% elsif saved_favorites_condition(current_user, job.id) %>
  <button class = "btn tooltipped waves-effect waves-light btn teal lighten-3", id = "applied-button", data-position="bottom", data-tooltip="You have already saved this job"> SAVED </button>
<% elsif remove_favorites_condition(current_user, job.id) %>
  <%= link_to "REMOVE FAVORITE", saved_favorite_path(current_user, id: job.id), method: :delete, class:"slider-btn waves-effect waves-light btn teal lighten-3" %>
<% elsif current_user %>
  <%= link_to "SAVE TO FAVORITES", saved_favorites_path(job_id: job.id), method: :post, class:"slider-btn waves-effect waves-light btn"%>
<% else %>
  <%= link_to "FAVORITE", favorites_path(job_id: job.id), method: :post, class:"slider-btn waves-effect waves-light btn teal lighten-3" %>
<% end %>
