<nav>
  <div class="nav-wrapper teal lighten-1">
    <a href="/root_path" class="brand-logo center">Habitask</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="tasks"><i class="material-icons">list</i></a></li>
      <li><a class="waves-effect waves-light btn">CATEGORIES</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><%= render partial: 'shared/login_logout' %></li>
      <li><%= link_to "Cart: #{@cart.total}", cart_path %></li>
    </ul>
  </div>
</nav>
