<% if current_volunteer %>
    <li><a class="dropdown-button" href="#!" data-activates="volunteer-dropdown"><%= current_volunteer.username.upcase %><i class="material-icons right">arrow_drop_down</i></a></li>
<% end %>

<!-- Dropdown Structure -->
<ul id="volunteer-dropdown" class="dropdown-content">
  <li><%= link_to "MY DASHBOARD", dashboard_path %></li>
  <li><%= link_to "MY COMMITMENTS", commitments_path %></li>
</ul>
