<ul class="slides">
  <li>
    <img src="https://images.unsplash.com/photo-1417037129170-06a2750eaa47?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
    <div class="caption right-align">
      <h3>Have a Cause?</h3>
      <h5 class="light white-text text-lighten-3">Find groups in your community that feel the same</h5>
      <a class="waves-effect waves-light btn" href="/tasks">Get Started</a>
    </div>
  </li>
  <li>
    <img src="https://images.unsplash.com/photo-1452860606245-08befc0ff44b?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
    <div class="caption left-align">
      <h3>Have a Skill?</h3>
      <h5 class="light white-text text-lighten-3">Donate your time and talents to a local non-profit</h5>
      <a class="waves-effect waves-light btn" href="/tasks">Get Started</a>
    </div>
  </li>
  <li>
    <img src="https://images.unsplash.com/photo-1458891216473-4f26bb4eb40e?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
    <div class="caption right-align">
      <h3>Have a Community?</h3>
      <h5 class="light white-text text-lighten-3">Build it up by getting involved</h5>
      <a class="waves-effect waves-light btn" href="/tasks">Get Started</a>
    </div>
  </li>
  <li>
    <img src="https://images.unsplash.com/photo-1429043794791-eb8f26f44081?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
    <div class="caption center-align">
      <h3>Make a Difference</h3>
      <a class="waves-effect waves-light btn" href="/tasks">Get Started</a>
    </div>
  </li>
</ul>
