<div class="row center-align">
  <%= image_tag('ziba-about-pic.jpg') %>
</div>

<div class="row">
  <h5>ABOUT US</h5>
  <p>ZIBA recruiters serve their clients and candidates with an unrelenting
    commitment to achieving clear executive search and hiring goals, and we have
    done so for more than 40 years. The results? Today, we are North America’s
    premier executive recruiting firm, working hand-in-hand with thousands of
    companies and talented professionals across a variety of industries and
    functional specialties.We are a team culture. We believe that individual
    accomplishment leads to corporate success, and our company structure and
    business practices promote and nurture achievement from within.</p>
    <p>
      Ethics, honesty, and discretion are a given at ZIBA.From entry level
      recruiter jobs to experienced senior partner positions, we offer rewarding
      career opportunities for every industry...  Ziba the Utopia of jobs.</p>
</div>
