<div class="slider">
  <%= render partial: "slider" %>
  <%= button_to "View All Tasks", tasks_path, method: :get, class:"slider-btn waves-effect waves-light btn" %>
</div>

<%= render partial: "city_cards", locals: { cities: @cities } %>
