<h1 class="center-align" id="company-title">Denied Submissions</h1>

<% @submissions.each do |company| %>
  <div class="dashboard-sections" id="approved-submission">
    <div class="col s12 m12 l12">
        <div class="col s12 m12 l12">
          Company
        </div>
        <div class="col s12 m12 l12">
          <%= link_to company.company_name, company_submission_status_path(company.company_name) %>
        </div>
    </div>

    <div class="col s12 m12 l12">
      Company Description
    </div>
    <div class="col s12 m12 l12">
      <%= truncate(company.description, length: 57) %>
    </div>
  </div>
<% end %>

<div class="center-align">
  <%= will_paginate @submissions %>
</div>
