<h1 class="center-align" id="company-title">Pending Submissions</h1>

<% @submissions.each do |company| %>
  <div class="row dashboard-sections">
    <div class="row">
      <div class="col s12 m12 l12">
        Company
      </div>
      <div class="col s12 m12 l12", id="job-title-link">
         <%= link_to company.company_name, company_submission_status_path(company.company_name) %>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        Company Description
      </div>
      <div class="col s12 m12 l12">
        <%= truncate(company.description, length: 57) %>
      </div>
    </div>
  </div>
<% end %>
