<h1>Welcome <%= @admin.first_name %></h1>
<h3>email: <%= @admin.email %></h3>
<%= button_to "Edit your account info", admin_edit_path, method: :get, class:"slider-btn waves-effect waves-light btn teal lighten-3" %>
<%= button_to "Create a New Task",  new_admin_task_path, method: :get, class:"slider-btn waves-effect waves-light btn teal lighten-3" %>
