<div class="container">
  <h1 class="center-align" id="company-title">All Companies</h1>
  <div class="row">
    <% @companies.each do |company| %>
      <div class="col s12 m4 companies-index">
        <div class="card">
          <div class="card-image">
            <img src="<%= company.logo %>">
          </div>
          <div class="card-action">
            <span class="card-title"> <%= link_to company.name, company_path(company) %> </span>
          </div>
          <div class="card-content">
              <%= truncate(company.description, length: 57) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
