<div class="container">
  <h1> <%= @company.name %> </h1>
  <%= @company.description %>
  <div class="row">
    <%= image_tag(@company.logo, id: "img_preview") %>
  </div>

  About Us

  Available Jobs
</div>
