<h1>Welcome to your Cart</h1>
<h3>Total Hours: <%= @cart.total_hours %></h3>

<%= render partial: "shared/task_cards", locals: {tasks: @tasks, method: :delete } %>
<% if current_volunteer %>
  <%= button_to "Checkout", cart_path, method: :get %>
<% else %>
  <%= link_to "Login or Create Account to Checkout", login_path %>
<% end %>
