/* Active Companies */

.admin-buttons {
  margin-top: 10px;
}

.admin-company-title {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 20px;
}

.admin-company-created-at {
  font-size: 30px;
  font-weight: 300;
}

#active-companies-card{
  border-bottom: solid 1px;
}
