.brand-logo {
  font-family: 'Kaushan Script', cursive;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

a:link {
  color: inherit;
}

.flash-notice {
  text-align: center;
  color: white;
}

#text-box {
  margin-top: 45px;
  margin-left: 10px;
}

.slider .indicators {
  bottom: 60px;
  z-index: 100;
}

.slider .indicators .indicator-item.active {
  background-color: #26a69a;
}

.checkout-button {
  text-align: center;
  margin-top: 40px;
}
