.brand-logo {
  font-family: 'Kaushan Script', cursive;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

.flash-notice {
  text-align: center;
}

/*slider*/
/*.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 75%;
  margin: 0 auto;
}*/

.slider .indicators {
  bottom: 60px;
  z-index: 100;
}
