.brand-logo {
  font-family: 'Kaushan Script', cursive;
}

h1, h4 {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

a:link {
  color: inherit;
}

.flash-notice {
  text-align: center;
  color: white;
}

.task-image {
  margin-top: 50px;
  width: 100%;
}

#text-box {
  margin-top: 50px;
}


.slider .indicators {
  bottom: 60px;
  z-index: 100;
}

.slider .indicators .indicator-item.active {
  background-color: #26a69a;
}

.checkout-button {
  text-align: center;
  margin-top: 40px;
}

#map {
  text-align: center;
}

.mobile-dropdowns {
  color: black;
}

.dashboard {
  text-align: center;
}

.job-show-container {
  background: url(http://sports.cbsimg.net/images/visual/whatshot/nike_nba_061015.jpg) no-repeat center center;
  background-size: cover;
  height: 600px;
}
