.brand-logo {
  font-family: 'Kaushan Script', cursive;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

.flash-notice {
  text-align: center;
}

#text-box {
  margin-top: 45px;
  margin-left: 10px;
}


.slider .indicators {
  bottom: 60px;
  z-index: 100;
}

.checkout-button {
  text-align: center;
  margin-top: 40px;
}
