#platform-admin-dashboard{
  text-align: center;
}

.dashboard-sections{
  border-bottom: solid 1px;
  margin-bottom: 11px;
  font-weight: 300;
}

.dashboard-welcome {
  font-weight: 300;
}

// for jobs edit index

#job-title-link{
  text-decoration: underline;
}
